.first-slide-top {
    display: flex;
    flex-direction: row;
    max-width: 900px;
    margin: 0 auto !important;
}

.first-slide-top img {
    display: block;
    width: 300px;
    margin: 20px;
}

.first-slide-top h1 {
    font-size: 5rem;
    text-align: left;
    padding: 70px 0 70px 70px;
    text-transform: none;
    margin: 0;
    max-width: 550px;
}

.loppure-ass-card {
    display: block;
    width: 200px;
    margin: 30px auto !important;
}

.loppure-ass-card span {
    display: block;
    text-align: center;
}

.loppure-ass-card span.f {font-size: 2rem;}
.loppure-ass-card span.s {font-size: 3rem;}
.loppure-ass-card span.t {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 3px solid black;
    font-size: 1.7rem;
}

.omar-polo {
    border-radius: 100%;
    border: 15px solid #dadada !important;
    width: 300px;
    height: auto;
}

#the-p-arent-of-link {
    padding-top: 30px;
}

#link-over-map {
    color: white !important;
    text-shadow: 0 0 10px rgb(204, 250, 255);
    font-size: 5rem;
}

span.small {
    font-size: 1.1rem;
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: none !important;
}

attr {
    text-decoration-style: dashed;
    text-decoration-line: underline;
}

.reveal section img {
    border: 0px;
    box-shadow: unset;
    background: transparent;
}

.reveal sup {
    font-size: 1rem;
}

.examples-with-code tr td:first-child code {
    font-size: 1.5rem;
}

.examples-with-code tr td:first-child {
    width: 300px;
}

.reveal blockquote {
    text-align: left;
    border: 0;
    box-shadow: unset;
    border-left: 5px solid #b4b4b4;
    padding-left: 20px;
    font-size: 2rem;
}

.reveal blockquote p {
    margin: 7px 0;
}

.reveal pre code {
    max-height: unset;
}


span.stroke {
    text-decoration: line-through;
}

.visible.hide {
    display: none;
}

.white {
    color: white !important;
    text-shadow: 0 0 10px #222 !important;
}


.ED {
    color: green !important;
}

.ED::after {
    content: ' ' !important;
    display: inline-block !important;
    font-family: monospace !important;
    background-color: green !important;
    margin-left: 10px;
    height: 75px;
    width: 40px;
    animation-name: cursor;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes cursor {
    from { opacity: 0; }
    24%  { opacity: 0; }
    25%  { opacity: 1; }
    75%  { opacity: 1; }
    76%  { opacity: 0; }
    to   { opacity: 0; }
}

@keyframes cursor2 {
    from { opacity: 0; }
    50%  { opacity: 1; }
    to   { opacity: 0; }
}

p.very-small {
    font-size: 0.1rem;
}
