/* Resettiamo alcuni stili di default dei browser. */
html, body {
    padding: 0;
    margin: 0;
    border: 0;
}

/* Mettiamo un colore di sfondo al nostro header. L'header della
   pagina ha classe `main-header` */
.main-header {
    background-color: #FF5722;
}

/* Concentriamoci ora sul titolo di livello 1 (h1) presente dentro il
   nostro header */
.main-header h1 {
    margin: 0;                  /* Togliamo i margini (vedi slide) */
    padding: 20px;              /* settiamo una spaziatura interna (vedi slide) */
    color: white;               /* il colore del testo */
    font-size: 2rem;            /* grandezza del font */
    text-align: center;         /* testo allineato al centro */
}

/* Rendiamo presentabile la nostra barra di navigazione */
nav ul {
    list-style: none;           /* Togliamo i 'bullet' (i puntini) dalla lista */
    padding: 0;                 /* azzeriamo gli spazi */
    border: 0;
    margin: 0;
    background-color: rgb(255, 128, 88); /* e mettiamo un colore di sfondo */

    text-align: center; /* dato che i li hanno display inline-block,
                           il loro comportamento è *simile* a del testo. Pertanto possiamo
                           centrarlo come fosse del testo */
}

/* Trasformiamo i `li` (list-item) da elementi di una lista a degli
   elementi in linea */
nav ul li {
    display: inline-block;
}

/* Rendiamo i nostri link guardabili */
nav ul li a {
    display: inline-block;                    /* anche in questo caso, per poter usare la
                                                 proprietà margin trasformiamo il tag a
                                                 da un elemento `inline` a `inline-block` */

    color: white;                             /* impostiamo il colore del testo */
    text-decoration: none;                    /* togliamo la sottolineatura */
    padding: 10px;                            /* uno spazio interno */
    transition: background-color 0.2s linear; /* settiamo una
                                                 transizione sulla
                                                 proprietà `background-color */
}

/* :hover fa si che questo stile sia applicato solo quando l'utente va
   col mouse sopra l'elemento */
nav ul li a:hover {
    text-decoration: underline;           /* aggiungiamo la sottolineatura */
    background-color: rgb(255, 214, 214); /* settiamo un colore di sfondo */
    color: rgb(179, 0, 0);                /* e cambiamo il colore del testo */
}


/* ======================= Parte aggiunta da me a lezione finita =======================  */

article {
    max-width: 900px;           /* impostiamo una larghezza massima */

    margin: auto;               /* con un margine settato ad `auto` possiamo centrare orizzontalmente un elemento */
    /* NB: per poter centrare un elemento con `margin: auto` serve che
       quell'elemento abbia `display: block`, e i tag header sono
       block-element di default */
}
    
/* aggiustiamo la resa grafica dell'intestazione dell'articolo */
article header {
    border-bottom: 1px solid rgb(188, 188, 188); /* possiamo
                                                    specificare lo stile solo per il bordo inferiore dell'elemento (a
                                                    differenza di border e basta che avrebbe disegnato delle linee su
                                                    tutti i lati del nostro elemento) */
}

/* giustifichiamo i paragrafi dell'articolo */
article section p {
    text-align: justify;
}

/* personalizziamo lo stile per la citazione */
article blockquote {
    border-left: 4px solid #FF5722; /* Similmente a come fatto in
                                       precedenza su un header, con
                                       `border-left` impostiamo solo
                                       il bordo sinistro */

    margin: 0;                  /* rimuoviamo gli spazi che il browser aggiunge in automatico */

    padding: 5px;               /* aggiungiamo una spaziatura di 5px */
    padding-left: 20px; /* similmente a border, anche il padding
                           supporta le varianti padding-top, padding-bottom, padding-right e
                           padding-left. In questo modo *sovrascrivo* il padding sinistro */

    font-style: italic;         /* e voglio che il testo sia in italico (corsivo) */
}

article footer {
    border-top: 1px solid rgb(188, 188, 188); /* ovviamente possiamo specificare un border superiore */
    margin-top: 50px; /* e, non credo di sorprendere nessuno, anche un
                         margine superiore */
}

/* nulla di che, solo un colore di sfondo e una spaziatura interna */
.main-footer {
    background-color: #263238;
    padding: 40px;
}

/* similmente a come fatto sull'article, anche qua mettiamo una
   larghezza massima e una centratura orizzontale */
.main-footer p {
    max-width: 900px;
    margin: auto;
    color: #B0BEC5;
}
