* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    border: 0;
    height: 100%;
    font-family: sans-serif;
}

header {
    width: 100%;
    background: red;
}

header h1 {
    margin: 0;
    color: white;
    padding: 20px 30px;
}

#main-navbar {
    width: 20%;
    float: left;
    height: 100%;
    border-right: 2px dotted gray;
}

#main-navbar ul {
    list-style: none;
}

#main-navbar li {
    display: block;
}

#main-navbar a {
    display: block;
    padding: 10px 20px;
    color: red;
    text-decoration: none;
    transition: 0.25s ease-in-out background-color;
}

#main-navbar a:hover {
    background-color: red;
    color: white;
}

main {
    width: 80%;
    float: right;
    padding: 20px;
}
