* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    border: 0;
    height: 100%;
    font-family: sans-serif;
    background: #efefef;
}

header {
    width: 100%;
    background: cyan;
}

header h1 {
    margin: 0;
    padding: 10px 50px;
}

#main-navbar {
    width: 100%;
    background: cyan;
}

#main-navbar ul {
    list-style: none;
    margin: 0;
}

#main-navbar li {
    display: inline-block;
    margin: 10px;
}

main {
    width: 80%;
    margin: 0 auto;
    border-right: 1px solid black;
    border-left: 1px solid black;
    background: white;
    height: 100%;
    padding: 20px;
}
